body{
    background-color:#04143b;
    height:100%
}

.container{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    min-height: 80vh;
    max-width: 1265px;
}

.card{
    background-color: transparent;
    border-color: white;
}

.card-body h4 {
    color: white;
}


.mapboxgl-ctrl-geocoder {
    margin-top: 10px;
    position: relative;
}

.mapboxgl-ctrl-geocoder {
    width: 360px!important;
}

.geocoder-container{
    display:inline;
    width: 400px;
}

#liveResult,
#inProgressResult,
#demoResult {
    color: white;
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
    white-space: nowrap;
    border-radius: 4px;
    /* background-color: #45546c; */
    flex-grow:1;
}

#liveResult .location-item,
#inProgressResult .location-item,
#demoResult .location-item{
    background-color: #283454;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 101%;
    white-space:normal;
    padding: 5px;
    /* overflow-x: hidden; */
}

.btn{
    color: #4cba87;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-right: 10px;
}

#map{ 
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width: 100%; 
}

.btn-greener{
    background-color: #4cba87;
    color:white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 19px;
}

.site-header{
    background:transparent;
    top:0;
    position: sticky;
    backdrop-filter: blur(2px);
    z-index:10;
    text-align: center;
    justify-content: center;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.header-image{
    height: 50px;
    margin-right:15px
}

.legend {
    background-color: #fff;
    border-radius: 3px;
    bottom: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font:
        12px/20px 'Helvetica Neue',
        Arial,
        Helvetica,
        sans-serif;
    padding: 10px;
    position: absolute;
    right: 10px;
}

.legend h4 {
    margin: 0 0 10px;
}

.legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}


.btn-display{
    position:absolute;
    background-color:white;
    top:8px;
    right: 10px;
    border-radius: 10px;
    padding:5px;
    border: none;
}

.btn-add{
    font-size: 17px;
    border-radius:4px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.geocoder-form {
    display: flex;
    /* align-items: center; */
}

.location-item .delete-button{
    font-size:22px;
    padding:2px 4px;
    color:white;
    background-color: #3b4761;
}

.btn-drop{
    position:absolute;
    background-color:white;
    top:8px;
    right: 150px;
    border-radius: 10px;
    padding:5px;
    border: none;
}

.btn-pin{
    font-size: 17px;
    border-radius:4px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.dropbtn {
    position:absolute;
    background-color:white;
    top:10px;
    left: 10px;
    border-radius: 10px;
    padding:5px;
    border: none;
    font-size: 17px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    border-radius: 4px;
    top:45px;
    left:10px
}
.dropdown-content button {
    color: black;
    padding: 10px 16px;
    display: block;
    width: 100%;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}
.dropdown-content button:hover {
    background-color: #f1f1f1;
}
.show {
    display: block;
}

.mapboxgl-popup-content {
    position: relative;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    min-width: 60px;
    min-height: 15px;
}

.cust-popup{
    width: auto;
    height: auto;
    position: relative;
    cursor: default;
    font-size: 13px;
    border: none;
    outline: none;
}

.cust-popup p {
    margin: 0px ;
}

.cust-popup a {
    color: black;
    font-weight: 700;
    outline:none;
    border: none;
}

.cust-popup a:hover {
    color:blue
}

.cust-popup h7 {
    color: black;
    font-weight: 700;
    outline:none;
    border: none;
}

.custom-popup {
    position: relative;
    padding-bottom: 20px;
}

.btn-popup {
    position: absolute;
    bottom: 3px;
    right: 3px;
    display: inline-flex;
}

.btn-popup button {
    padding: 5px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background: transparent;
    color: white;
    margin-right: 5px;
}

.mapboxgl-popup-content h2 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

#liveCompanyName, #liveCompanyLink,
#inProgressCompanyName, #inProgressCompanyLink,
#demoCompanyName, #demoCompanyLink
{
    display:inline;
    width: 96%;
    padding: 7px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 14px;
    font-weight:600;
}

#CompanyName{
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-bottom: 5px;
}

#CompanyLink{
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.btn-green{
    background-color: #4cba87;
    color:white;
    border:none;
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 17px;
    border-radius: 4px;
    margin-left: 10px;
    margin-top:10px;
    /* width: 362px; */
    width: 93%;
}

@media (min-width:765px) and (max-width: 1024px){

    .col-md-4 {
        flex: 100%;
    }

    .geocoder-container{
        display:inline;
        width: max-content;
    }

    .mapboxgl-ctrl-geocoder {
        width: 500px!important;
    } 

    #liveCompanyName, #liveCompanyLink,
    #inProgressCompanyName, #inProgressCompanyLink,
    #demoCompanyName, #demoCompanyLink
    {
        display:inline;
        width: 97%;
        padding: 7px;
        box-sizing: border-box;
        border: 1px solid #ced4da;
        border-radius: 4px;
        font-size: 14px;
        font-weight:600;
    }

    #liveResult,
    #inProgressResult,
    #demoResult {
        color: white;
        margin-top: 20px;
        max-height: 145px;
        overflow-y: auto;
        overflow-x: auto;
        padding: 5px;
        white-space: normal;
        border-radius: 4px;
    }

    .btn-green{
        background-color: #4cba87;
        color:white;
        border:none;
        border-radius: 10px;
        padding: 5px 20px;
        font-size: 17px;
        border-radius: 4px;
        margin-left: 10px;
        margin-top:10px;
        /* width: 362px; */
        width: 96%;
    }
}

@media (min-width:451px) and (max-width: 764px){

    .mapboxgl-ctrl-geocoder {
        width: 478px!important;
    }

    #liveCompanyName, #liveCompanyLink,
    #inProgressCompanyName, #inProgressCompanyLink,
    #demoCompanyName, #demoCompanyLink
    {
        display:inline;
        width: 98%;
        padding: 7px;
        box-sizing: border-box;
        border: 1px solid #ced4da;
        border-radius: 4px;
        font-size: 14px;
        font-weight:600;
    }
    .btn-green{
        background-color: #4cba87;
        color:white;
        border:none;
        border-radius: 10px;
        padding: 5px 20px;
        font-size: 17px;
        border-radius: 4px;
        margin-left: 10px;
        margin-top:10px;
        /* width: 362px; */
        width: 95%;
    }
}

@media (max-width: 450px){
    .col-12{
        width:100%
    }

    .mapboxgl-ctrl-geocoder {
        width: 99%!important;
    }

    #liveCompanyName, #liveCompanyLink,
    #inProgressCompanyName, #inProgressCompanyLink,
    #demoCompanyName, #demoCompanyLink
    {
        display:inline;
        width: 98%;
        padding: 7px;
        box-sizing: border-box;
        border: 1px solid #ced4da;
        border-radius: 4px;
        font-size: 14px;
        font-weight:600;
    }
    .btn-green{
        background-color: #4cba87;
        color:white;
        border:none;
        border-radius: 10px;
        padding: 5px 20px;
        font-size: 17px;
        border-radius: 4px;
        margin-left: 10px;
        margin-top:10px;
        /* width: 362px; */
        width: 93%;
    }
    .geocoder-container{
        display:inline;
        width: 400px;
    }
}
